#wb_header { height: 175px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none no-repeat scroll center bottom; }
#wb_main #page_1 { height: 541px; padding-bottom: 1px; background-color: transparent; }
#wb_main #page_1:before { background: transparent none no-repeat scroll center top; }
#wb_main #page_1e { height: 1670px; padding-bottom: 1px; }
#wb_main #page_9 { height: 441px; padding-bottom: 1px; background-color: transparent; }
#wb_main #page_9:before { background: transparent none repeat-x scroll left top; }
#wb_main #page_9e { height: 460px; padding-bottom: 1px; }
#wb_main #page_7 { height: 341px; padding-bottom: 1px; background-color: transparent; }
#wb_main #page_7:before { background: transparent none repeat-x left top; background-size: auto auto; }
#wb_main #page_7e { height: 520px; padding-bottom: 1px; }
#wb_main #page_6 { height: 1008px; padding-bottom: 1px; background-color: transparent; }
#wb_main #page_6:before { background: transparent none repeat-x scroll left top; }
#wb_main #page_6e { height: 341px; padding-bottom: 1px; }
#wb_main #page_5 { height: 1001px; padding-bottom: 1px; background-color: transparent; }
#wb_main #page_5:before { background: transparent none repeat-x scroll left top; }
#wb_main #page_5e { height: 853px; padding-bottom: 1px; }
#wb_main #page_3 { height: 430px; padding-bottom: 10px; background-color: transparent; }
#wb_main #page_3:before { background: transparent none repeat-x scroll left top; }
#wb_main #page_3e { height: 540px; padding-bottom: 10px; }
#wb_footer { height: 76px; }
#wb_footer > .wb_cont_bg { background-color: #fccf1b; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
body { background-color: transparent; }
body.site:before { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 4028px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { min-height: 4028px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #000000; border-color: #ffffff; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #ffe68c; border-color: #000000; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #000000; }
#wb_element_instance0 { top: 140px; left: 0px; min-width: 320px; width: 320px; min-height: 29px; height: 29px; display: block; z-index: 946; }
#wb_element_instance0 ul { background: #000000 none repeat scroll left top; border: 5px solid #fccf1b; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #000000 none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 18px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll center center; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 18px 'Open Sans',sans-serif; text-decoration: none; color: #000000; line-height: 20px; background: #ffe68c none no-repeat scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 18px 'Open Sans',sans-serif; text-decoration: none; color: #000000; line-height: 20px; background: #fccf1b none no-repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { opacity: 1; top: 20px; left: 20px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; z-index: 747; }
#wb_element_instance2 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 10px; left: 6px; min-width: 50px; width: 50px; min-height: 48px; height: 48px; display: block; z-index: 750; }
#wb_element_instance2 img { width: 50px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { opacity: 1; top: 22px; left: 0px; min-width: 290px; width: 290px; min-height: 39px; height: 39px; display: block; z-index: 744; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { opacity: 1; top: 80px; left: 100px; min-width: 210px; width: 210px; min-height: 42px; height: 42px; display: block; z-index: 752; }
#wb_element_instance5 { top: 70px; left: 100px; min-width: 220px; width: 220px; min-height: 60px; height: 60px; display: block; z-index: 635; }
#wb_element_instance5 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 1; }
#wb_element_instance5 > .wb_shp { background-color: rgba(252, 207, 27, 1); border: 0px none #C0C0C0; border-radius: 0px 10px 0px 10px; -moz-border-radius: 0px 10px 0px 10px; -webkit-border-radius: 0px 10px 0px 10px; width: 220px; height: 60px; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance6 { opacity: 1; top: 10px; left: 10px; min-width: 290px; width: 290px; min-height: 45px; height: 45px; display: block; z-index: 756; }
#wb_element_instance7 { top: 0px; left: 0px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: none; z-index: 392; }
#wb_element_instance8 { top: 62px; left: 30px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 292; }
#wb_element_instance8 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.95; }
#wb_element_instance8 > .wb_shp { background-color: transparent; border: 8px solid #fccf1b; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 100px; height: 100px; }
#wb_element_instance9 { top: 60px; left: 190px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 294; }
#wb_element_instance9 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.95; }
#wb_element_instance9 > .wb_shp { background-color: transparent; border: 8px solid #fccf1b; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 100px; height: 100px; }
#wb_element_instance10 { top: 200px; left: 30px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 296; }
#wb_element_instance10 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.95; }
#wb_element_instance10 > .wb_shp { background-color: transparent; border: 8px solid #fccf1b; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 100px; height: 100px; }
#wb_element_instance11 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 80px; left: 54px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 396; }
#wb_element_instance11 img { width: 50px; height: 60px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance12 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 80px; left: 210px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 423; }
#wb_element_instance12 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance13 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 220px; left: 210px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 424; }
#wb_element_instance13 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance14 p:last-child { margin-bottom: 0; }
#wb_element_instance14 { opacity: 1; top: 170px; left: 20px; min-width: 120px; width: 120px; min-height: 24px; height: 24px; display: block; z-index: 425; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance15 { opacity: 1; top: 170px; left: 190px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 427; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance16 { opacity: 1; top: 310px; left: 30px; min-width: 100px; width: 100px; min-height: 42px; height: 42px; display: block; z-index: 430; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance17 { opacity: 1; top: 310px; left: 190px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 431; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance18 { opacity: 1; top: 10px; left: 0px; min-width: 300px; width: 300px; min-height: 39px; height: 39px; display: block; z-index: 434; }
#wb_element_instance19 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px dotted #fccf1b;; }
#wb_element_instance19 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 20px; height: 20px; display: none; z-index: 426; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance20 { opacity: 1; top: 0px; left: 0px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: none; z-index: 395; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance21 { opacity: 1; top: 0px; left: 0px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: none; z-index: 556; }
#wb_element_instance22 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 190px; height: 190px; display: none; z-index: 557; }
#wb_element_instance22 img { width: 520px; height: 190px; display: block; position: relative; left: -140px; top: 0px; max-width: inherit; }
#wb_element_instance23 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 190px; height: 190px; display: none; z-index: 558; }
#wb_element_instance23 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.95; }
#wb_element_instance23 > .wb_shp { background-color: transparent; border: 4px solid #fccf1b; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 320px; height: 190px; }
#wb_element_instance24 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 220px; left: 50px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 429; }
#wb_element_instance24 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { top: 200px; left: 190px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 394; }
#wb_element_instance25 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.95; }
#wb_element_instance25 > .wb_shp { background-color: transparent; border: 8px solid #fccf1b; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 100px; height: 100px; }
#wb_element_instance26 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 540px; height: 540px; display: block; z-index: 280; }
#wb_element_instance26 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.5; }
#wb_element_instance26 > .wb_shp { background-color: rgba(0, 0, 0, 0.5); border: 5px none #C0C0C0; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 320px; height: 540px; }
#wb_element_instance27 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 540px; height: 540px; display: none; z-index: 563; }
#wb_element_instance27 img { width: 527px; height: 550px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance28 { top: 460px; left: 70px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; z-index: 281; }
#wb_element_instance28 .wb_button { width: 180px; height: 60px; font-family: 'Open Sans',sans-serif; font-size: 18px; text-align: center; border: 5px solid #fccf1b; border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; background-color: #000000; }
#wb_element_instance28 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance28 .wb_button:before { background: transparent none repeat scroll center center; }
#wb_element_instance28 .wb_button:hover > span { color: #333333; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance28 .wb_button:hover { background-color: #ffe68c; }
#wb_element_instance28 .wb_button:hover:before { background: transparent none repeat scroll left top; }
#wb_element_instance28 .wb_button:active > span { color: #333333; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance28 .wb_button:active { background-color: #fccf1b; }
#wb_element_instance28 .wb_button:active:before { background: transparent none repeat scroll left top; }
#wb_element_instance29 { top: 380px; left: 70px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; z-index: 293; }
#wb_element_instance29 .wb_button { width: 180px; height: 60px; font-family: 'Open Sans',sans-serif; font-size: 18px; text-align: center; border: 5px solid #fccf1b; border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; background-color: #000000; }
#wb_element_instance29 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance29 .wb_button:before { background: transparent none repeat scroll center center; }
#wb_element_instance29 .wb_button:hover > span { color: #333333; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance29 .wb_button:hover { background-color: #ffe68c; }
#wb_element_instance29 .wb_button:hover:before { background: transparent none repeat scroll left top; }
#wb_element_instance29 .wb_button:active > span { color: #333333; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance29 .wb_button:active { background-color: #fccf1b; }
#wb_element_instance29 .wb_button:active:before { background: transparent none repeat scroll left top; }
#wb_element_instance30 { top: 0px; left: 0px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: none; z-index: 613; }
#wb_element_instance31 p:last-child { margin-bottom: 0; }
#wb_element_instance31 { opacity: 1; top: 20px; left: 10px; min-width: 300px; width: 300px; min-height: 78px; height: 78px; display: block; z-index: 214; }
#wb_element_instance32 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 410px; height: 410px; display: block; z-index: 164; }
#wb_element_instance32 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.5; }
#wb_element_instance32 > .wb_shp { background-color: rgba(0, 0, 0, 0.5); border: 5px none #C0C0C0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 410px; }
#wb_element_instance33 p:last-child { margin-bottom: 0; }
#wb_element_instance33 { opacity: 1; top: 110px; left: 10px; min-width: 300px; width: 300px; min-height: 231px; height: 231px; display: block; z-index: 213; }
#wb_element_instance34 { top: 360px; left: 70px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; z-index: 215; }
#wb_element_instance34 .wb_button { width: 180px; height: 60px; font-family: 'Open Sans',sans-serif; font-size: 18px; text-align: center; border: 5px solid #fccf1b; border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; background-color: #000000; }
#wb_element_instance34 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance34 .wb_button:before { background: transparent none repeat scroll center center; }
#wb_element_instance34 .wb_button:hover > span { color: #333333; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance34 .wb_button:hover { background-color: #ffe68c; }
#wb_element_instance34 .wb_button:hover:before { background: transparent none repeat scroll left top; }
#wb_element_instance34 .wb_button:active > span { color: #333333; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance34 .wb_button:active { background-color: #fccf1b; }
#wb_element_instance34 .wb_button:active:before { background: transparent none repeat scroll left top; }
#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance35 { opacity: 1; top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 24px; height: 24px; display: none; z-index: 216; }
#wb_element_instance36 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 440px; height: 440px; display: block; z-index: 212; }
#wb_element_instance36 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance36 > .wb_shp { background-color: transparent; border: 5px solid #fccf1b; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 440px; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance37 { opacity: 1; top: 20px; left: 10px; min-width: 300px; width: 300px; min-height: 39px; height: 39px; display: block; z-index: 233; }
#wb_element_instance38 p:last-child { margin-bottom: 0; }
#wb_element_instance38 { opacity: 1; top: 70px; left: 10px; min-width: 300px; width: 300px; min-height: 189px; height: 189px; display: block; z-index: 235; }
#wb_element_instance39 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 0px; left: 0px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: none; z-index: 237; }
#wb_element_instance39 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 300px; left: 820px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: none; z-index: 240; }
#wb_element_instance40 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 10px; left: 10px; min-width: 300px; width: 300px; min-height: 330px; height: 330px; display: block; z-index: 166; }
#wb_element_instance41 > .wb_shp { display: block; background-color: transparent; border: 0px solid #c0c0c0; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 300px; height: 330px; }
#wb_element_instance41 > .wb_shp:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_element_instance42 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; top: 340px; left: 540px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; z-index: 241; }
#wb_element_instance42 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance43 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; top: 340px; left: 780px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; z-index: 243; }
#wb_element_instance43 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance44 { opacity: 1; top: 20px; left: 10px; min-width: 300px; width: 300px; min-height: 39px; height: 39px; display: block; z-index: 180; }
#wb_element_instance45 p:last-child { margin-bottom: 0; }
#wb_element_instance45 { opacity: 1; top: 70px; left: 10px; min-width: 290px; width: 290px; min-height: 903px; height: 903px; display: block; z-index: 181; }
#wb_element_instance46 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 1007px; height: 1007px; display: block; z-index: 177; }
#wb_element_instance46 > .wb_shp:before { background: transparent none repeat scroll left top; opacity: 0.95; }
#wb_element_instance46 > .wb_shp { background-color: rgba(0, 0, 0, 0.95); border: 5px solid #fccf1b; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 1007px; }
#wb_element_instance47 p:last-child { margin-bottom: 0; }
#wb_element_instance47 { opacity: 1; top: 70px; left: 10px; min-width: 300px; width: 300px; min-height: 231px; height: 231px; display: block; z-index: 156; }
#wb_element_instance48 p:last-child { margin-bottom: 0; }
#wb_element_instance48 { opacity: 1; top: 20px; left: 10px; min-width: 300px; width: 300px; min-height: 39px; height: 39px; display: block; z-index: 157; }
#wb_element_instance49 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; top: 310px; left: 40px; min-width: 250px; width: 250px; min-height: 142px; height: 142px; display: block; z-index: 158; }
#wb_element_instance49 img { width: 250px; height: 142px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance50 p:last-child { margin-bottom: 0; }
#wb_element_instance50 { opacity: 1; top: 470px; left: 10px; min-width: 310px; width: 310px; min-height: 525px; height: 525px; display: block; z-index: 159; }
#wb_element_instance51 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 1000px; height: 1000px; display: block; z-index: 155; }
#wb_element_instance51 > .wb_shp { display: block; background-color: rgba(0, 0, 0, 0.5); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 1000px; }
#wb_element_instance51 > .wb_shp:before { background: transparent none repeat left top; background-size: auto auto; opacity: 0.5; }
#wb_element_instance52 { top: 310px; left: 40px; min-width: 250px; width: 250px; min-height: 145px; height: 145px; display: block; z-index: 160; }
#wb_element_instance52 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance52 > .wb_shp { background-color: transparent; border: 3px solid #fccf1b; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 250px; height: 145px; }
#wb_element_instance53 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 420px; height: 420px; display: block; z-index: 178; }
#wb_element_instance53 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.5; }
#wb_element_instance53 > .wb_shp { background-color: rgba(0, 0, 0, 0.5); border: 5px none #C0C0C0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 420px; }
#wb_element_instance54 p:last-child { margin-bottom: 0; }
#wb_element_instance54 { opacity: 1; top: 20px; left: 10px; min-width: 310px; width: 310px; min-height: 39px; height: 39px; display: block; z-index: 523; }
#wb_element_instance55 { top: 70px; left: 10px; min-width: 300px; width: 300px; min-height: 330px; height: 330px; display: block; z-index: 192; }
#wb_element_instance55 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.95; }
#wb_element_instance55 > .wb_shp { background-color: rgba(77, 77, 77, 0.95); border: 5px none #C0C0C0; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 300px; height: 330px; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }
#wb_element_instance56 { opacity: 1; top: 80px; left: 20px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 524; }
#wb_element_instance57 p:last-child { margin-bottom: 0; }
#wb_element_instance57 { opacity: 1; top: 110px; left: 20px; min-width: 260px; width: 260px; min-height: 273px; height: 273px; display: block; z-index: 525; }
#wb_element_instance58 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 420px; height: 420px; display: block; z-index: 189; }
#wb_element_instance58 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance58 > .wb_shp { background-color: transparent; border: 5px solid #fccf1b; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 420px; }
#wb_element_instance59 { top: 100px; left: 310px; min-width: 650px; width: 650px; min-height: 420px; height: 420px; display: block; z-index: 526; }
#wb_header_bg { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; background-attachment: scroll; height: 175px; }
#wb_sbg_placeholder { background: transparent none repeat-x scroll left top; background-attachment: scroll; height: 175px; }
#wb_main { padding-top: 175px; }
#wb_main .wb_cont_outer { top: 175px; }
#wb_page_1_bg { height: 542px; }
#wb_page_9_bg { height: 442px; background-color: transparent; }
#wb_page_7_bg { height: 342px; background-color: transparent; }
#wb_page_6_bg { height: 1009px; background-color: transparent; }
#wb_page_5_bg { height: 1002px; background-color: transparent; }
#wb_page_3_bg { height: 440px; background-color: transparent; }
#wb_bgs_cont { top: 175px; }
#wb_page_9_bg:before { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; }
#wb_page_7_bg:before { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; background-size: auto auto; }
#wb_page_6_bg:before { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; }
#wb_page_5_bg:before { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; }
#wb_page_3_bg:before { background: transparent url("../gallery_gen/3b4e0d9be960782295ee8b7fd04af23f.png") repeat fixed center top; }
#wb_element_instance60 { top: 90px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 209px; }
	#wb_main #page_1 { height: 1170px; }
	#wb_main #page_9 { height: 460px; }
	#wb_main #page_7 { height: 217px; }
	#wb_main #page_6 { height: 511px; }
	#wb_main #page_5 { height: 783px; }
	#wb_main #page_3 { height: 480px; }
	#wb_footer { height: 76px; }
	body, .wb_sbg { min-width: 768px; min-height: 3921px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { min-height: 3921px; }
	#wb_element_instance0 { top: 100px; left: 0px; min-width: 768px; width: 768px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance0 ul { background: transparent url('../gallery/фон.png') repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 26px; left: 10px; min-width: 750px; width: 750px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance2 { top: 26px; left: 0px; min-width: 50px; width: 50px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 img { width: 50px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { top: 30px; left: 0px; min-width: 380px; width: 380px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance4 { top: 30px; left: 550px; min-width: 200px; width: 200px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance5 { top: 20px; left: 550px; min-width: 210px; width: 210px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance5 > .wb_shp { width: 210px; height: 60px; }
	#wb_element_instance6 { top: 0px; left: 10px; min-width: 200px; width: 200px; min-height: 75px; height: 75px; display: block; }
	#wb_element_instance7 { top: 10px; left: 670px; min-width: 90px; width: 90px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance8 { top: 80px; left: 20px; min-width: 170px; width: 170px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance8 > .wb_shp { width: 170px; height: 170px; }
	#wb_element_instance9 { top: 80px; left: 203px; min-width: 170px; width: 170px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance9 > .wb_shp { width: 170px; height: 170px; }
	#wb_element_instance10 { top: 80px; left: 590px; min-width: 170px; width: 170px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance10 > .wb_shp { width: 170px; height: 170px; }
	#wb_element_instance11 { top: 124px; left: 53px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance11 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance12 { top: 127px; left: 250px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { top: 124px; left: 635px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance13 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { top: 270px; left: 10px; min-width: 170px; width: 170px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance15 { top: 270px; left: 203px; min-width: 170px; width: 170px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance16 { top: 270px; left: 397px; min-width: 170px; width: 170px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance17 { top: 270px; left: 590px; min-width: 170px; width: 170px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance18 { top: 10px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance19 { top: 310px; left: 10px; min-width: 750px; width: 750px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance20 { top: 400px; left: 10px; min-width: 750px; width: 750px; min-height: 84px; height: 84px; display: block; }
	#wb_element_instance21 { top: 340px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance22 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 360px; height: 360px; display: none; overflow: hidden; }
	#wb_element_instance22 img { width: 820px; height: 390px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance23 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 360px; height: 360px; display: none; }
	#wb_element_instance23 > .wb_shp { width: 760px; height: 360px; }
	#wb_element_instance24 { top: 124px; left: 440px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance24 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance25 { top: 80px; left: 397px; min-width: 170px; width: 170px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance25 > .wb_shp { width: 170px; height: 170px; }
	#wb_element_instance26 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 1170px; height: 1170px; display: block; }
	#wb_element_instance26 > .wb_shp { width: 760px; height: 1170px; }
	#wb_element_instance27 { top: 600px; left: 121px; min-width: 527px; width: 527px; min-height: 550px; height: 550px; display: block; }
	#wb_element_instance27 img { width: 527px; height: 550px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { top: 530px; left: 102px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance28 .wb_button { width: 180px; height: 60px; }
	#wb_element_instance29 { top: 530px; left: 487px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance29 .wb_button { width: 180px; height: 60px; }
	#wb_element_instance30 { top: 0px; left: 450px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance31 { top: 30px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance32 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 460px; height: 460px; display: block; }
	#wb_element_instance32 > .wb_shp { width: 760px; height: 460px; }
	#wb_element_instance33 { top: 100px; left: 10px; min-width: 750px; width: 750px; min-height: 105px; height: 105px; display: block; }
	#wb_element_instance34 { top: 240px; left: 295px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance34 .wb_button { width: 180px; height: 60px; }
	#wb_element_instance35 { top: 334px; left: 10px; min-width: 750px; width: 750px; min-height: 84px; height: 84px; display: block; }
	#wb_element_instance36 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 460px; height: 460px; display: block; }
	#wb_element_instance36 > .wb_shp { width: 760px; height: 460px; }
	#wb_element_instance37 { top: 30px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance38 { top: 90px; left: 9px; min-width: 750px; width: 750px; min-height: 126px; height: 126px; display: block; }
	#wb_element_instance39 { top: 0px; left: 0px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: none; }
	#wb_element_instance39 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance40 { top: 300px; left: 820px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: none; }
	#wb_element_instance40 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { top: 10px; left: 10px; min-width: 300px; width: 300px; min-height: 330px; height: 330px; display: none; }
	#wb_element_instance41 > .wb_shp { width: 300px; height: 330px; }
	#wb_element_instance42 { top: 340px; left: 540px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance42 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance43 { top: 340px; left: 780px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance43 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance44 { top: 30px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance45 { top: 100px; left: 10px; min-width: 750px; width: 750px; min-height: 378px; height: 378px; display: block; }
	#wb_element_instance46 { top: 0px; left: 0px; min-width: 770px; width: 770px; min-height: 510px; height: 510px; display: block; }
	#wb_element_instance46 > .wb_shp { width: 770px; height: 510px; }
	#wb_element_instance47 { top: 100px; left: 10px; min-width: 750px; width: 750px; min-height: 84px; height: 84px; display: block; }
	#wb_element_instance48 { top: 30px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance49 { top: 200px; left: 122px; min-width: 525px; width: 525px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance49 img { width: 525px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance50 { top: 530px; left: 10px; min-width: 750px; width: 750px; min-height: 252px; height: 252px; display: block; }
	#wb_element_instance51 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 710px; height: 710px; display: block; }
	#wb_element_instance51 > .wb_shp { width: 760px; height: 710px; }
	#wb_element_instance52 { top: 200px; left: 119px; min-width: 530px; width: 530px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance52 > .wb_shp { width: 530px; height: 300px; }
	#wb_element_instance53 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 430px; height: 430px; display: block; }
	#wb_element_instance53 > .wb_shp { width: 760px; height: 430px; }
	#wb_element_instance54 { top: 30px; left: 10px; min-width: 750px; width: 750px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance55 { top: 90px; left: 10px; min-width: 750px; width: 750px; min-height: 370px; height: 370px; display: block; }
	#wb_element_instance55 > .wb_shp { width: 750px; height: 370px; }
	#wb_element_instance56 { top: 100px; left: 20px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance57 { top: 140px; left: 20px; min-width: 260px; width: 260px; min-height: 312px; height: 312px; display: block; }
	#wb_element_instance58 { top: 0px; left: 0px; min-width: 770px; width: 770px; min-height: 470px; height: 470px; display: block; }
	#wb_element_instance58 > .wb_shp { width: 770px; height: 470px; }
	#wb_element_instance59 { top: 100px; left: 310px; min-width: 650px; width: 650px; min-height: 420px; height: 420px; display: block; }
	#wb_main { padding-top: 209px; }
	#wb_main .wb_cont_outer { top: 209px; }
	#wb_page_1_bg { height: 1171px; }
	#wb_page_9_bg { height: 461px; }
	#wb_page_7_bg { height: 218px; }
	#wb_page_6_bg { height: 512px; }
	#wb_page_5_bg { height: 784px; }
	#wb_page_3_bg { height: 490px; }
	#wb_bgs_cont { top: 209px; }
	#wb_header_bg { height: 209px; }
	#wb_sbg_placeholder { height: 209px; }
	#wb_element_instance60 { top: 90px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 200px; }
	#wb_main #page_1 { height: 1670px; }
	#wb_main #page_9 { height: 460px; }
	#wb_main #page_7 { height: 520px; }
	#wb_main #page_6 { height: 341px; }
	#wb_main #page_5 { height: 853px; }
	#wb_main #page_3 { height: 540px; }
	#wb_footer { height: 76px; }
	body, .wb_sbg { min-width: 992px; min-height: 4675px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { min-height: 4675px; }
	#wb_element_instance0 { top: 130px; left: 0px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance0 ul { background: transparent url('../gallery/фон.png') repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 40px; left: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance2 { top: 40px; left: 0px; min-width: 58px; width: 58px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance2 img { width: 58px; height: 56px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { top: 48px; left: 14px; min-width: 440px; width: 440px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance4 { top: 50px; left: 720px; min-width: 260px; width: 260px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance5 { top: 42px; left: 720px; min-width: 270px; width: 270px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance5 > .wb_shp { width: 270px; height: 68px; }
	#wb_element_instance6 { top: 10px; left: 10px; min-width: 470px; width: 470px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance7 { top: 10px; left: 890px; min-width: 90px; width: 90px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance8 { top: 473px; left: 10px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance8 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance9 { top: 473px; left: 265px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance9 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance10 { top: 473px; left: 780px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance10 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance11 { top: 530px; left: 70px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance11 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance12 { top: 530px; left: 325px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { top: 530px; left: 840px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance13 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { top: 690px; left: 10px; min-width: 200px; width: 200px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance15 { top: 690px; left: 265px; min-width: 200px; width: 200px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance16 { top: 690px; left: 525px; min-width: 200px; width: 200px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance17 { top: 690px; left: 780px; min-width: 200px; width: 200px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance18 { top: 390px; left: 10px; min-width: 970px; width: 970px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance19 { top: 740px; left: 10px; min-width: 970px; width: 970px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance20 { top: 870px; left: 10px; min-width: 970px; width: 970px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance21 { top: 790px; left: 10px; min-width: 950px; width: 950px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance22 { top: 12px; left: 10px; min-width: 970px; width: 970px; min-height: 355px; height: 355px; display: block; overflow: hidden; }
	#wb_element_instance22 img { width: 968px; height: 354px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance23 { top: 10px; left: 11px; min-width: 970px; width: 970px; min-height: 360px; height: 360px; display: block; }
	#wb_element_instance23 > .wb_shp { width: 970px; height: 360px; }
	#wb_element_instance24 { top: 530px; left: 585px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance24 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance25 { top: 473px; left: 525px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance25 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance26 { top: 0px; left: 0px; min-width: 990px; width: 990px; min-height: 1670px; height: 1670px; display: block; }
	#wb_element_instance26 > .wb_shp { width: 990px; height: 1670px; }
	#wb_element_instance27 { top: 1110px; left: 230px; min-width: 527px; width: 527px; min-height: 550px; height: 550px; display: block; }
	#wb_element_instance27 img { width: 527px; height: 550px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { top: 1010px; left: 160px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance28 .wb_button { width: 180px; height: 60px; }
	#wb_element_instance29 { top: 1010px; left: 650px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance29 .wb_button { width: 180px; height: 60px; }
	#wb_element_instance30 { top: 0px; left: 660px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance31 { top: 10px; left: 10px; min-width: 970px; width: 970px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance32 { top: 0px; left: 0px; min-width: 990px; width: 990px; min-height: 460px; height: 460px; display: block; }
	#wb_element_instance32 > .wb_shp { width: 990px; height: 460px; }
	#wb_element_instance33 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance34 { top: 240px; left: 405px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance34 .wb_button { width: 180px; height: 60px; }
	#wb_element_instance35 { top: 320px; left: 10px; min-width: 970px; width: 970px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance36 { top: 0px; left: 0px; min-width: 990px; width: 990px; min-height: 460px; height: 460px; display: block; }
	#wb_element_instance36 > .wb_shp { width: 990px; height: 460px; }
	#wb_element_instance37 { top: 10px; left: 10px; min-width: 970px; width: 970px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance38 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 208px; height: 208px; display: block; }
	#wb_element_instance39 { top: 340px; left: 60px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance39 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance40 { top: 340px; left: 300px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance40 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { top: 10px; left: 10px; min-width: 970px; width: 970px; min-height: 510px; height: 510px; display: block; }
	#wb_element_instance41 > .wb_shp { width: 970px; height: 510px; }
	#wb_element_instance42 { top: 340px; left: 540px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance42 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance43 { top: 340px; left: 780px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance43 img { width: 150px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance44 { top: 10px; left: 10px; min-width: 970px; width: 970px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance45 { top: 80px; left: 10px; min-width: 970px; width: 970px; min-height: 234px; height: 234px; display: block; }
	#wb_element_instance46 { top: 0px; left: 0px; min-width: 990px; width: 990px; min-height: 341px; height: 341px; display: block; }
	#wb_element_instance46 > .wb_shp { width: 990px; height: 341px; }
	#wb_element_instance47 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance48 { top: 10px; left: 10px; min-width: 970px; width: 970px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance49 { top: 210px; left: 230px; min-width: 525px; width: 525px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance49 img { width: 525px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance50 { top: 541px; left: 8px; min-width: 970px; width: 970px; min-height: 312px; height: 312px; display: block; }
	#wb_element_instance51 { top: 0px; left: 1px; min-width: 990px; width: 990px; min-height: 840px; height: 840px; display: block; }
	#wb_element_instance51 > .wb_shp { width: 990px; height: 840px; }
	#wb_element_instance52 { top: 210px; left: 230px; min-width: 530px; width: 530px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance52 > .wb_shp { width: 530px; height: 300px; }
	#wb_element_instance53 { top: 0px; left: 0px; min-width: 990px; width: 990px; min-height: 430px; height: 430px; display: block; }
	#wb_element_instance53 > .wb_shp { width: 990px; height: 430px; }
	#wb_element_instance54 { top: 10px; left: 10px; min-width: 980px; width: 980px; min-height: 65px; height: 65px; display: block; }
	#wb_element_instance55 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance55 > .wb_shp { width: 970px; height: 440px; }
	#wb_element_instance56 { top: 100px; left: 20px; min-width: 200px; width: 200px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance57 { top: 140px; left: 20px; min-width: 260px; width: 260px; min-height: 387px; height: 387px; display: block; }
	#wb_element_instance58 { top: 0px; left: 0px; min-width: 990px; width: 990px; min-height: 540px; height: 540px; display: block; }
	#wb_element_instance58 > .wb_shp { width: 990px; height: 540px; }
	#wb_element_instance59 { top: 100px; left: 310px; min-width: 650px; width: 650px; min-height: 420px; height: 420px; display: block; }
	#wb_main { padding-top: 200px; }
	#wb_main .wb_cont_outer { top: 200px; }
	#wb_page_1_bg { height: 1671px; }
	#wb_page_9_bg { height: 461px; }
	#wb_page_7_bg { height: 521px; }
	#wb_page_6_bg { height: 342px; }
	#wb_page_5_bg { height: 854px; }
	#wb_page_3_bg { height: 550px; }
	#wb_bgs_cont { top: 200px; }
	#wb_header_bg { height: 200px; }
	#wb_sbg_placeholder { height: 200px; }
	#wb_element_instance60 { top: 90px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
}

@media (max-width: 767px) {
}